* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --primary: #5863F8; 

  --text-primary:#171D1C;
  --text-secondary: #717171;

  --gray: #EFE9F4;
}

#root,
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input {
  border: none;
  padding: .5rem;
  font-size: 18px;
  border: 2px solid var(--text-primary);
}

select {
  border: none;
  padding: .5rem;
  font-size: 18px;
  background-color: transparent;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

.select {
  display: flex;
  align-items: center;
}

.link {
  color: var(--primary);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
